<h1>Tabla de Registros:</h1>
<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cedula/RUC</th>
        <th>Ciudad</th>
        <th>Provinncia</th>
        <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    {% for registro in registros %}
    <tr>
      <td>{{ registro.id }}</td>
      <td>{{ registro.nombre }}</td>
      <td>{{ registro.apellido }}</td>
      <td>{{ registro.cedulaRUC }}</td>
      <td>{{ registro.ciudad }}</td>
      <td>{{ registro.provincia }}</td>
      <td>{{ registro.correo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>